.post-card {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.post-card h2 {
    color: chocolate;
}
.post-card p {
    font-family: Arial, Helvetica, sans-serif;
}